*{
  margin: 0;
  padding: 0;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
header{
  max-width: 1110px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 15;
  h2{
    position: absolute;
    left: 40%;
    top: 7px;
  }
  .bg-light{
    background-color: white!important;
  }
  .navbar-light .navbar-nav .nav-link{
    color: #696988;
    font-size: 12px;
    font-weight: 500;
  }
  .form-control {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
  }
  .form-inline .form-control{
    border-radius: 0;
  }
  button[type="reset"]{
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 65px;
    color: #666;
    border: 0;
    display: none;
    padding: 0 10px;
    background: none;
    transition: background 200ms;
    outline: none;

    &:hover {
      background-color: #eee;
    }
  }
  input:valid ~ button[type="reset"] {
    display: block;
  }

  .form-inline .form-control:focus{
    background-color: #e0e0e0;
    transition: 0.3s;
  }
  .btn:not(:disabled):not(.disabled){
    border: none;
    color: #3edd94;
  }
  .btn:not(:disabled):not(.disabled):hover{
    background-color: white;
  }
}

.bg_pating{
  padding: 84px 0 30px;
  background-color: rgba(57, 80, 155, 75%);
  margin-bottom: 55px;
}

.screen{
  position: relative;
  .range{
    background-color: #e0e0e5;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
    a{
      padding: 12px 18px;
      font-size: 12px;
      color: black;
      font-weight: 500;
      text-decoration: none;
      text-align: center;
    }
    a:nth-child(6){
      border: none;
    }
    a:hover{
      background-color: #a8a8ac;
      transition: 0.3s;
    }
    a:after{
      display: inline-block;
      content: "";
      background-color: black;
      width: 1px;
      height: 14px;
      position: absolute;
      right: 0;
      top: 14px;
      z-index: 10;
    }
    a:nth-child(6):after{
       display: none;
    }
  }
  .buy_pat_two{
    background-image: url("../img/buy.svg");
    padding: 45px 0;
    p{
      background-color: #0f2b8c;
    }
  }
  .buy_pat_two:hover{
    p{
      color: #0f2b8c;
    }
  }
  .buy_one{
    h4{
      margin-left: 15px;
      color: white;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 10px;
    }
    p{
      margin-left: 15px;
      padding: 13px 11px;
      text-align: center;
      font-size: 11px;
      font-weight: bold;
      color: white;
    }
  }

  .buy{
    background-repeat: no-repeat;
    width:175px;
    height:147px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buy:hover{
    -webkit-filter: drop-shadow( 0px 12px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow( 0px 12px 3px rgba(0, 0, 0, 0.2));
    transition: 0.3s;
    p{
      background-color: white;
      transition: 0.4s;
      -webkit-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      -moz-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
    }
  }
  .buy_pat{
    background-image: url("../img/buy_two.svg");
    padding: 45px 0;
    p{
      background-color: #0f2b8c;
    }
  }
  .buy_pat:hover{
    p{
      color: #0f2b8c;
    }
  }
  .buy_two{
    h4{
      margin-right: 10px;
      color: white;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 10px;
    }
    p{
      margin-right: 10px;
      padding: 13px 11px;
      text-align: center;
      font-size: 11px;
      font-weight: bold;
      color: white;
    }
  }
  .banner{
    img{
      max-width: 518px;
      width: 100%;
    }
  }
  @include max-screen(992px){
    .adaptive{
      padding: 0;
        position: relative;
      top: 432px;
      z-index: 11;
      img{
        position: relative;
        right: 15px;
        width: 137px;
      }
      div:nth-last-child(1){
        img{
          left: 56px;
          width: 137px;
        }
      }
      div:nth-last-child(2){
        img{
          margin-left: 15px;
        }
      }
    }
    .buy{
      position: absolute;
      right: 416px;
      width:150px;
      padding: 34px 0;
    }
    .buy_two{
      background-image: url("../img/buy.svg");
      position: absolute;
      left: 570px;
      width:150px;
      z-index: 10;
      padding: 34px 0;
      h4{
        margin-right: 0;
        margin-left: 15px;
      }
      p{
        margin-right: 0;
        margin-left: 15px;
      }
    }
    .banner{
      img{
        max-width: 720px;
        width: 100%;
        margin: auto;
        position: relative;
        bottom: 150px;
      }
    }
  }
  @include max-screen(767px){
    .adaptive{
      top: 326px;
      img{
        height: 126px;
      }
      div:nth-last-child(1){
        img{
          left: 0;
        }
      }
    }
    .buy{
      right: 0;
      bottom: 126px;
      position: absolute;
    }
    .buy_two{
      left: 0;
      top: 147px;
      position: relative;
    }
    .banner{
      img{
        bottom: 293px;
      }
    }
  }
  @include max-screen(575px){
    .banner{
      img{
        bottom: 333px;
      }
    }
    .adaptive{
      top: 320px;
    }
    .buy{
      right: 8px;
      bottom: 150px;
      position: absolute;
    }
    .buy_two{
      left: 0;
      top: 163px;
      position: relative;
     }
  }
  @include max-screen(475px){
    .adaptive{
      top: 269px;
    }
  }
  @include max-screen(400px){
    .adaptive{
      top: 225px;
    }
  }
}
.bg_pat{
  background-color: #909dc7;
}
.bg_pen{
  background-color: #a7a8a8;
}
.carusel_pat{
  padding: 20px;
  margin-bottom: 40px;
  a{
    text-decoration: none;
  }
  img{
    margin-bottom: 10px;
  }
  p{
    color: white;
    font-size: 12px;
  }
}

.owl-dots {
  position: absolute;
  left: 50%;
  bottom: 20px;
  text-align: center;
}
@include max-screen(992px){
  .owl-dots{
    left: 47%;
  }
}
@include max-screen(575px){
  .owl-dots{
    left: 44%;
  }
}
@include max-screen(413px){
  .owl-dots{
    left: 33%;
  }
}


.owl-dot span{
  display: inline-block;
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin-right: 10px;
}

.owl-dot.active span {
  background-color: white;
  width: 15px;
  height: 15px;
  position: relative;
  top: 5px;
  transition: 0.3s;
  border: none;
}
.pencil{
  background-color: #a7a8a8;
  padding: 30px 0;
  margin-bottom: 50px;
  .buy_one{
    background-image: url("../img/pen_two.svg");
    p{
      margin-right: 7px;
    }
  }

  .buy_one:hover, .buy_two:hover{
    -webkit-filter: drop-shadow( 0px 12px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow( 0px 12px 3px rgba(0, 0, 0, 0.2));
    transition: 0.3s;
    p{
      color: #4c4d4d;
      background-color: white;
      transition: 0.4s;
      -webkit-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      -moz-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
    }
  }
  .buy{
    background-repeat: no-repeat;
    width:175px;
    height:147px;
    padding: 55px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  p{
    background-color: #4c4d4d;
    font-weight: bold;
    color: white;
    font-size: 12px;
    padding: 13px 11px;
  }
  .buy_two{
    background-image: url("../img/pen_one.svg");

    p{
      margin-left: 11px;
    }
  }
  .banner{
    img{
      max-width: 518px;
      width: 100%;
    }
  }
  @include max-screen(991px){
    .adaptive{
      position: relative;
      img{
        width: 137px;
      }
      div:nth-last-child(1){
        img{
          width: 140px;
          position: relative;
          left: 53px;
        }
      }
      div:nth-last-child(2){
        img{
          width: 136px;
          position: relative;
          right: 15px;
        }
      }
      .buy_one{
        background-image: url("../img/pen_one.svg");
        position: absolute;
        right: 57px;
        width:150px;
        padding: 45px 0;
        p{
          margin-left: 15px;
        }
      }
      .buy_two{
        right: -15px;
        width:150px;
        padding: 45px 0;
        position: absolute;
        p{
          margin-right: 0;
          margin-left: 14px;
        }
      }
    }
    .banner{
      img{
        max-width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  @include max-screen(767px){
    .adaptive{
      div:nth-last-child(1){
        margin-bottom: 21px!important;
        img{
          width: 136px!important;
          left: -15px!important;
        }
      }
    }
    .buy_one{
      top: 0;
      right: -15px!important;
    }
  }
  @include max-screen(575px){
    .adaptive{
      .buy_one{
        top: 8px;
        right: -7px!important;
      }
      .buy_two{
        right: -7px!important;
        height: 123px!important;
      }
    }
  }
}
.bg_molbert{
  padding: 30px 0;
  background-color: #f8a25e;
  .buy_molbert{
    background-image: url("../img/buy_molbet.svg");
    padding: 57px 0;
    p{
      background-color: #a25111;
    }
  }
  .buy_molbert_two{
    background-image: url("../img/buy_molbert_two.svg");
    padding: 57px 0;
    p{
      background-color: #a25111;
    }
  }
  .buy_molbert:hover{
    p{
      color: #a25111;
    }
  }
  .buy_molbert_two:hover{
    p{
      color: #a25111;
    }
  }
}
@include max-screen(991px){
  .buy_molbert{
    padding: 45px 0!important;
  }
  .buy_molbert_two{
    background-image: url("../img/buy_molbet.svg") !important;
    padding: 45px 0!important;
  }
}
.brush{
  background-color: #67bda8;
  padding: 30px;
  .buy{
    background-image: url("../img/buy_brush.svg");
    background-repeat: no-repeat;
    width:269px;
    height:193px;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    p{
      color: white;
      padding: 17px;
      font-size: 16px;
      background-color: #187b63;
      font-weight: bold;
      margin-right: 24px;
    }
  }
  div:nth-child(3){
    div:nth-child(1){
      img{
        margin-bottom: 20px;
      }
    }
  }
  .buy:hover{
    -webkit-filter: drop-shadow( 0px 12px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow( 0px 12px 3px rgba(0, 0, 0, 0.2));
    transition: 0.3s;
    p{
      color: #187b63;
      background-color: white;
      transition: 0.4s;
      -webkit-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      -moz-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
    }
  }
  @include max-screen(1200px){
    .buy{
      padding: 60px 0;
      p{
        margin-right: 8px;
      }
    }
  }
  @include max-screen(991px){
    .buy{
      background-image: url("../img/buy_andaptive.svg");
      width: 100%;
      padding: 69px 0;
      p{
        margin-right: 0;
      }
    }
    div:nth-child(3){
      display: none;
    }
    .banner{
      img{
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  @include max-screen(767px){
    .buy{
      background-image: url("../img/buy_andaptive_two.svg");
    }
  }
  @include max-screen(575px){
    .buy{
      background-image: url("../img/buy_andaptive_three.svg");
    }
  }
}

.bg_clay{
  padding: 30px 0;
  background-color: #b35c5c;
  .buy_clay{
    background-image: url("../img/buy_clay.svg");
    padding: 57px 0;
    p{
      background-color: #9a2525;
    }
  }
  .buy_clay_two{
    background-image: url("../img/buy_clay_two.svg");
    padding: 57px 0;
    p{
      background-color: #9a2525;
    }
  }
  .buy_clay:hover{
    p{
      color: #9a2525;
    }
  }
  .buy_clay_two:hover{
    p{
      color: #9a2525;
    }
  }
}
@include max-screen(991px){
  .buy_clay{
    padding: 45px 0!important;
  }
  .buy_clay_two{
    background-image: url("../img/buy_clay.svg") !important;
    padding: 45px 0!important;
  }
}
.canvas{
  padding: 30px 0;
  background-color: #a7ae50;
  .buy{
    background-image: url("../img/buy_canvas.svg");
    background-repeat: no-repeat;
    padding: 69px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    p{
      color: white;
      font-size: 16px;
      padding: 17px;
      background-color: #798214;
      margin-right: 64px;
    }
  }
  div:nth-child(3){
    img{
      position: relative;
      bottom: 10px;
    }
  }
  .banner{
    .image_user{
      max-width: 350px;
      width: 100%;
      height: 313px;
      background-color: #eeeef0;
      display: inline-block;
      overflow: hidden;
      position: relative;
      img{
        display: block;
        width: 100%;
      }
    }
  }
  @include max-screen(1200px){
    .buy{
      p{
        margin-right: 49px;
      }
    }
  }
  @include max-screen(991px){
    .buy{
      background-image: url("../img/buy_canvas_adaptive.svg");
      width: 100%;
      p{
        margin-right: 0;
      }
    }
    .banner{
      .image_user{
        max-width: 100%;
        width: 100%;
        img{
          position: relative;
          bottom: 175px;
        }
      }
    }
  }
  @include max-screen(767px){
    .buy{
      background-image: url("../img/buy_canvas_adaptive_two.svg");
    }
  }
  @include max-screen(575px){
    .buy{
      background-image: url("../img/buy_canvas_daptive_three.svg");
    }
  }
}
footer{
  padding: 42px 0;
  h3{
    font-size: 14px;
    color: black;
    margin-bottom: 30px;
  }
  .service{
    border-right: solid 1px black;
    a{
      display: block;
      max-width: 130px;
      color: #64676d;
      text-decoration: none;
      font-size: 11px;
      margin-bottom: 15px;
      line-height: 13px;
    }
  }
  .icon{
    border-right: solid 1px black;
    a{
      text-decoration: none;
      display: inline-block;
      margin-right: 30px;
      color: black;
      border: solid 1px black;
      padding: 6px 8px;
      line-height: 0;
      font-size: 28px;
    }
    a:nth-last-child(3){
      padding: 6px 11px;
    }
    a:hover{
      background-color: black;
      color: white;
      transition: 0.3s;
    }
  }

  form{
    p{
      font-size: 14px;
      color: #64676d;
      margin-bottom: 10px;
    }
    textarea{
      width: 100%;
      resize: none;
      height: 60px;
      margin-bottom: 10px;
      border-radius: 0;
      outline: none;
      padding: 5px;
      color: #64676d;
      font-size: 11px;
    }
    button{
      color: #64676d;
      background-color: white;
      padding: 10px 34px;
    }
  }
}

