* {
  margin: 0;
  padding: 0; }

header {
  max-width: 1110px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 11; }
  header h2 {
    position: absolute;
    left: 40%;
    top: 7px; }
  header .bg-light {
    background-color: white !important; }
  header .navbar-light .navbar-nav .nav-link {
    color: #696988;
    font-size: 12px;
    font-weight: 500; }
  header .form-control {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important; }
  header .form-inline .form-control {
    border-radius: 0; }
  header button[type="reset"] {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 65px;
    color: #666;
    border: 0;
    display: none;
    padding: 0 10px;
    background: none;
    transition: background 200ms;
    outline: none; }
    header button[type="reset"]:hover {
      background-color: #eee; }
  header input:valid ~ button[type="reset"] {
    display: block; }
  header .form-inline .form-control:focus {
    background-color: #e0e0e0;
    transition: 0.3s; }
  header .btn:not(:disabled):not(.disabled) {
    border: none;
    color: #3edd94; }
  header .btn:not(:disabled):not(.disabled):hover {
    background-color: white; }

.bg_pating {
  padding: 84px 0 30px;
  background-color: rgba(57, 80, 155, 0.75);
  margin-bottom: 55px; }

.screen .range {
  background-color: #e0e0e5;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2); }
  .screen .range a {
    padding: 12px 18px;
    font-size: 12px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    text-align: center; }
  .screen .range a:nth-child(6) {
    border: none; }
  .screen .range a:hover {
    background-color: #a8a8ac;
    transition: 0.3s; }
  .screen .range a:after {
    display: inline-block;
    content: "";
    background-color: black;
    width: 1px;
    height: 14px;
    position: absolute;
    right: 0;
    top: 14px;
    z-index: 10; }
  .screen .range a:nth-child(6):after {
    display: none; }
.screen .pating {
  background-image: url("../img/buy.svg");
  padding: 45px 0; }
  .screen .pating p {
    background-color: #0f2b8c; }
.screen .pating:hover p {
  color: #0f2b8c; }
.screen .buy {
  background-repeat: no-repeat;
  width: 175px;
  height: 147px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .screen .buy h4 {
    margin-left: 7px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px; }
  .screen .buy p {
    margin-left: 7px;
    padding: 13px 11px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: white; }
.screen .buy:hover {
  -webkit-filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
  transition: 0.3s; }
  .screen .buy:hover p {
    background-color: white;
    transition: 0.4s;
    -webkit-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
    -moz-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
    box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4); }
.screen .pating_two {
  background-image: url("../img/buy_two.svg");
  padding: 45px 0; }
  .screen .pating_two p {
    background-color: #0f2b8c; }
.screen .pating_two:hover p {
  color: #0f2b8c; }
.screen .buy_two {
  background-repeat: no-repeat;
  width: 175px;
  height: 147px;
  margin-right: 22px;
  padding: 45px 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .screen .buy_two h4 {
    margin-right: 20px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px; }
  .screen .buy_two p {
    margin-right: 20px;
    padding: 13px 11px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: white; }
.screen .buy_two:hover {
  -webkit-filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
  transition: 0.3s; }
  .screen .buy_two:hover p {
    background-color: white;
    transition: 0.4s;
    -webkit-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
    -moz-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
    box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4); }
.screen .banner img {
  max-width: 518px;
  width: 100%; }

.bg_pat {
  background-color: #909dc7; }

.bg_pen {
  background-color: #a7a8a8; }

.carusel_pat {
  padding: 20px;
  margin-bottom: 40px; }
  .carusel_pat a {
    text-decoration: none; }
  .carusel_pat img {
    margin-bottom: 10px; }
  .carusel_pat p {
    color: white;
    font-size: 12px; }

.owl-dots {
  position: absolute;
  left: 50%;
  bottom: 20px;
  text-align: center; }

.owl-dot span {
  display: inline-block;
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin-right: 10px; }

.owl-dot.active span {
  background-color: white;
  width: 15px;
  height: 15px;
  position: relative;
  top: 5px;
  transition: 0.3s;
  border: none; }

.pencil {
  padding: 30px 0;
  background-color: #a7a8a8;
  margin-bottom: 55px; }
  .pencil .pencil_buy {
    background-image: url("../img/pen_one.svg");
    background-repeat: no-repeat;
    width: 175px;
    height: 147px;
    padding: 55px 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pencil .pencil_buy p {
      background-color: #4c4d4d;
      padding: 13px 11px;
      text-align: center;
      font-size: 11px;
      font-weight: bold;
      color: white; }
  .pencil .pencil_buy:hover {
    -webkit-filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
    transition: 0.3s; }
    .pencil .pencil_buy:hover p {
      background-color: white;
      color: #4c4d4d;
      transition: 0.4s;
      -webkit-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      -moz-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4); }
  .pencil .pencil_buy_two {
    background-image: url("../img/pen_two.svg");
    background-repeat: no-repeat;
    width: 175px;
    height: 147px;
    margin-left: 15px;
    padding: 55px 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pencil .pencil_buy_two p {
      margin-right: 20px;
      background-color: #4c4d4d;
      padding: 13px 11px;
      text-align: center;
      font-size: 11px;
      font-weight: bold;
      color: white; }
  .pencil .pencil_buy_two:hover {
    -webkit-filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
    transition: 0.3s; }
    .pencil .pencil_buy_two:hover p {
      background-color: white;
      color: #4c4d4d;
      transition: 0.4s;
      -webkit-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      -moz-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4); }
  .pencil .img_buy {
    width: 100%; }
  .pencil .banner img {
    max-width: 518px;
    width: 100%; }

.bg_mobert {
  background-color: #f8a25e;
  padding: 30px 0; }
  .bg_mobert .mobert {
    background-image: url("../img/mobet_buy.svg");
    padding: 55px 0; }
  .bg_mobert .mobert_two {
    background-image: url("../img/mobet_buy_two.svg");
    padding: 55px 0; }
  .bg_mobert p {
    background-color: #a25111; }

.mobert:hover p {
  color: #a25111; }

.mobert_two:hover p {
  color: #a25111; }

.brush {
  padding: 10px 0;
  background-color: #34a78b; }
  .brush .brush_buy {
    background-image: url("../img/buy_brush.svg");
    background-repeat: no-repeat;
    width: 269px;
    height: 193px;
    text-decoration: none;
    display: flex;
    padding: 74px 0;
    flex-direction: column;
    align-items: center; }
    .brush .brush_buy p {
      margin-right: 20px;
      color: white;
      font-size: 16px;
      background-color: #187b63;
      padding: 17px;
      text-align: center;
      font-weight: bold; }
  .brush .brush_img {
    padding-top: 20px; }
    .brush .brush_img img {
      margin-bottom: 20px; }

.brush_buy:hover {
  -webkit-filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
  transition: 0.3s; }
  .brush_buy:hover p {
    background-color: white;
    color: #187b63;
    transition: 0.4s;
    -webkit-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
    -moz-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
    box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4); }

.clay {
  background-color: #b35c5c;
  padding: 30px 0; }
  .clay .clay_buy {
    background-image: url("../img/clay_buy_two.svg");
    padding: 55px 0; }
  .clay p {
    background-color: #9a2525; }
  .clay .clay_buy:hover p {
    color: #9a2525; }
  .clay .clay_buy_two {
    background-image: url("../img/clay_buy.svg");
    padding: 55px 0; }
  .clay .clay_buy_two:hover p {
    color: #9a2525; }

.canvas {
  padding: 30px 0;
  background-color: #a7ae50; }
  .canvas .canvas_buy {
    background-image: url("../img/canvas_buy.svg");
    width: 100%;
    height: 194px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 75px 0;
    margin-left: 15px; }
    .canvas .canvas_buy p {
      text-align: center;
      color: white;
      font-size: 16px;
      background-color: #798214;
      padding: 17px;
      font-weight: bold;
      margin-right: 95px; }
  .canvas .canvas_buy:hover {
    -webkit-filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
    transition: 0.3s; }
    .canvas .canvas_buy:hover p {
      background-color: white;
      color: #798214;
      transition: 0.4s;
      -webkit-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      -moz-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4); }

footer {
  padding: 42px 0; }

/*# sourceMappingURL=style.css.map */
