* {
  margin: 0;
  padding: 0; }

header {
  max-width: 1110px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 15; }
  header h2 {
    position: absolute;
    left: 40%;
    top: 7px; }
  header .bg-light {
    background-color: white !important; }
  header .navbar-light .navbar-nav .nav-link {
    color: #696988;
    font-size: 12px;
    font-weight: 500; }
  header .form-control {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important; }
  header .form-inline .form-control {
    border-radius: 0; }
  header button[type="reset"] {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 65px;
    color: #666;
    border: 0;
    display: none;
    padding: 0 10px;
    background: none;
    transition: background 200ms;
    outline: none; }
    header button[type="reset"]:hover {
      background-color: #eee; }
  header input:valid ~ button[type="reset"] {
    display: block; }
  header .form-inline .form-control:focus {
    background-color: #e0e0e0;
    transition: 0.3s; }
  header .btn:not(:disabled):not(.disabled) {
    border: none;
    color: #3edd94; }
  header .btn:not(:disabled):not(.disabled):hover {
    background-color: white; }

.bg_pating {
  padding: 84px 0 30px;
  background-color: rgba(57, 80, 155, 0.75);
  margin-bottom: 55px; }

.screen {
  position: relative; }
  .screen .range {
    background-color: #e0e0e5;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2); }
    .screen .range a {
      padding: 12px 18px;
      font-size: 12px;
      color: black;
      font-weight: 500;
      text-decoration: none;
      text-align: center; }
    .screen .range a:nth-child(6) {
      border: none; }
    .screen .range a:hover {
      background-color: #a8a8ac;
      transition: 0.3s; }
    .screen .range a:after {
      display: inline-block;
      content: "";
      background-color: black;
      width: 1px;
      height: 14px;
      position: absolute;
      right: 0;
      top: 14px;
      z-index: 10; }
    .screen .range a:nth-child(6):after {
      display: none; }
  .screen .buy_pat_two {
    background-image: url("../img/buy.svg");
    padding: 45px 0; }
    .screen .buy_pat_two p {
      background-color: #0f2b8c; }
  .screen .buy_pat_two:hover p {
    color: #0f2b8c; }
  .screen .buy_one h4 {
    margin-left: 15px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px; }
  .screen .buy_one p {
    margin-left: 15px;
    padding: 13px 11px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: white; }
  .screen .buy {
    background-repeat: no-repeat;
    width: 175px;
    height: 147px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .screen .buy:hover {
    -webkit-filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
    transition: 0.3s; }
    .screen .buy:hover p {
      background-color: white;
      transition: 0.4s;
      -webkit-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      -moz-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4); }
  .screen .buy_pat {
    background-image: url("../img/buy_two.svg");
    padding: 45px 0; }
    .screen .buy_pat p {
      background-color: #0f2b8c; }
  .screen .buy_pat:hover p {
    color: #0f2b8c; }
  .screen .buy_two h4 {
    margin-right: 10px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px; }
  .screen .buy_two p {
    margin-right: 10px;
    padding: 13px 11px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: white; }
  .screen .banner img {
    max-width: 518px;
    width: 100%; }
  @media screen and (max-width: 992px) {
    .screen .adaptive {
      padding: 0;
      position: relative;
      top: 432px;
      z-index: 11; }
      .screen .adaptive img {
        position: relative;
        right: 15px;
        width: 137px; }
      .screen .adaptive div:nth-last-child(1) img {
        left: 41px;
        width: 137px; }
      .screen .adaptive div:nth-last-child(2) img {
        margin-left: 15px; }
    .screen .buy {
      position: absolute;
      right: 416px;
      width: 150px;
      padding: 34px 0; }
    .screen .buy_two {
      background-image: url("../img/buy.svg");
      position: absolute;
      left: 570px;
      width: 150px;
      z-index: 10;
      padding: 34px 0; }
      .screen .buy_two h4 {
        margin-right: 0;
        margin-left: 15px; }
      .screen .buy_two p {
        margin-right: 0;
        margin-left: 15px; }
    .screen .banner img {
      max-width: 720px;
      width: 100%;
      margin: auto;
      position: relative;
      bottom: 150px; } }
  @media screen and (max-width: 767px) {
    .screen .adaptive {
      top: 326px; }
      .screen .adaptive img {
        height: 126px; }
      .screen .adaptive div:nth-last-child(1) img {
        left: 0; }
    .screen .buy {
      right: 0;
      bottom: 126px;
      position: absolute; }
    .screen .buy_two {
      left: 0;
      top: 147px;
      position: relative; }
    .screen .banner img {
      bottom: 293px; } }
  @media screen and (max-width: 575px) {
    .screen .banner img {
      bottom: 333px; }
    .screen .adaptive {
      top: 320px; }
    .screen .buy {
      right: 8px;
      bottom: 150px;
      position: absolute; }
    .screen .buy_two {
      left: 0;
      top: 163px;
      position: relative; } }
  @media screen and (max-width: 475px) {
    .screen .adaptive {
      top: 269px; } }
  @media screen and (max-width: 400px) {
    .screen .adaptive {
      top: 225px; } }

.bg_pat {
  background-color: #909dc7; }

.bg_pen {
  background-color: #a7a8a8; }

.carusel_pat {
  padding: 20px;
  margin-bottom: 40px; }
  .carusel_pat a {
    text-decoration: none; }
  .carusel_pat img {
    margin-bottom: 10px; }
  .carusel_pat p {
    color: white;
    font-size: 12px; }

.owl-dots {
  position: absolute;
  left: 50%;
  bottom: 20px;
  text-align: center; }

@media screen and (max-width: 992px) {
  .owl-dots {
    left: 47%; } }
@media screen and (max-width: 575px) {
  .owl-dots {
    left: 44%; } }
@media screen and (max-width: 413px) {
  .owl-dots {
    left: 33%; } }
.owl-dot span {
  display: inline-block;
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin-right: 10px; }

.owl-dot.active span {
  background-color: white;
  width: 15px;
  height: 15px;
  position: relative;
  top: 5px;
  transition: 0.3s;
  border: none; }

.pencil {
  background-color: #a7a8a8;
  padding: 30px 0;
  margin-bottom: 50px; }
  .pencil .buy_one {
    background-image: url("../img/pen_two.svg"); }
    .pencil .buy_one p {
      margin-right: 7px; }
  .pencil .buy_one:hover, .pencil .buy_two:hover {
    -webkit-filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
    transition: 0.3s; }
    .pencil .buy_one:hover p, .pencil .buy_two:hover p {
      color: #4c4d4d;
      background-color: white;
      transition: 0.4s;
      -webkit-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      -moz-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4); }
  .pencil .buy {
    background-repeat: no-repeat;
    width: 175px;
    height: 147px;
    padding: 55px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; }
  .pencil p {
    background-color: #4c4d4d;
    font-weight: bold;
    color: white;
    font-size: 12px;
    padding: 13px 11px; }
  .pencil .buy_two {
    background-image: url("../img/pen_one.svg"); }
    .pencil .buy_two p {
      margin-left: 11px; }
  .pencil .banner img {
    max-width: 518px;
    width: 100%; }
  @media screen and (max-width: 991px) {
    .pencil .adaptive {
      position: relative; }
      .pencil .adaptive img {
        width: 137px; }
      .pencil .adaptive div:nth-last-child(1) img {
        width: 140px;
        position: relative;
        left: 53px; }
      .pencil .adaptive div:nth-last-child(2) img {
        width: 136px;
        position: relative;
        right: 15px; }
      .pencil .adaptive .buy_one {
        background-image: url("../img/pen_one.svg");
        position: absolute;
        right: 57px;
        width: 150px;
        padding: 45px 0; }
        .pencil .adaptive .buy_one p {
          margin-left: 15px; }
      .pencil .adaptive .buy_two {
        right: -15px;
        width: 150px;
        padding: 45px 0;
        position: absolute; }
        .pencil .adaptive .buy_two p {
          margin-right: 0;
          margin-left: 14px; }
    .pencil .banner img {
      max-width: 100%;
      margin-bottom: 20px; } }
  @media screen and (max-width: 767px) {
    .pencil .adaptive div:nth-last-child(1) {
      margin-bottom: 21px !important; }
      .pencil .adaptive div:nth-last-child(1) img {
        width: 136px !important;
        left: -15px !important; }
    .pencil .buy_one {
      top: 0;
      right: -15px !important; } }
  @media screen and (max-width: 575px) {
    .pencil .adaptive .buy_one {
      top: 8px;
      right: -7px !important; }
    .pencil .adaptive .buy_two {
      right: -7px !important;
      height: 123px !important; } }

.bg_molbert {
  padding: 30px 0;
  background-color: #f8a25e; }
  .bg_molbert .buy_molbert {
    background-image: url("../img/buy_molbet.svg");
    padding: 57px 0; }
    .bg_molbert .buy_molbert p {
      background-color: #a25111; }
  .bg_molbert .buy_molbert_two {
    background-image: url("../img/buy_molbert_two.svg");
    padding: 57px 0; }
    .bg_molbert .buy_molbert_two p {
      background-color: #a25111; }
  .bg_molbert .buy_molbert:hover p {
    color: #a25111; }
  .bg_molbert .buy_molbert_two:hover p {
    color: #a25111; }

@media screen and (max-width: 991px) {
  .buy_molbert {
    padding: 45px 0 !important; }

  .buy_molbert_two {
    background-image: url("../img/buy_molbet.svg") !important;
    padding: 45px 0 !important; } }
.brush {
  background-color: #67bda8;
  padding: 30px; }
  .brush .buy {
    background-image: url("../img/buy_brush.svg");
    background-repeat: no-repeat;
    width: 269px;
    height: 193px;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; }
    .brush .buy p {
      color: white;
      padding: 17px;
      font-size: 16px;
      background-color: #187b63;
      font-weight: bold;
      margin-right: 24px; }
  .brush div:nth-child(3) div:nth-child(1) img {
    margin-bottom: 20px; }
  .brush .buy:hover {
    -webkit-filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.2));
    transition: 0.3s; }
    .brush .buy:hover p {
      color: #187b63;
      background-color: white;
      transition: 0.4s;
      -webkit-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      -moz-box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4);
      box-shadow: 0px 15px 10px -10px rgba(3, 59, 101, 0.4); }
  @media screen and (max-width: 1200px) {
    .brush .buy {
      padding: 60px 0; }
      .brush .buy p {
        margin-right: 8px; } }
  @media screen and (max-width: 991px) {
    .brush .buy {
      background-image: url("../img/buy_andaptive.svg");
      width: 100%;
      padding: 69px 0; }
      .brush .buy p {
        margin-right: 0; }
    .brush div:nth-child(3) {
      display: none; }
    .brush .banner img {
      width: 100%;
      margin-bottom: 20px; } }
  @media screen and (max-width: 767px) {
    .brush .buy {
      background-image: url("../img/buy_andaptive_two.svg"); } }
  @media screen and (max-width: 575px) {
    .brush .buy {
      background-image: url("../img/buy_andaptive_three.svg"); } }

.bg_clay {
  padding: 30px 0;
  background-color: #b35c5c; }
  .bg_clay .buy_clay {
    background-image: url("../img/buy_clay.svg");
    padding: 57px 0; }
    .bg_clay .buy_clay p {
      background-color: #9a2525; }
  .bg_clay .buy_clay_two {
    background-image: url("../img/buy_clay_two.svg");
    padding: 57px 0; }
    .bg_clay .buy_clay_two p {
      background-color: #9a2525; }
  .bg_clay .buy_clay:hover p {
    color: #9a2525; }
  .bg_clay .buy_clay_two:hover p {
    color: #9a2525; }

@media screen and (max-width: 991px) {
  .buy_clay {
    padding: 45px 0 !important; }

  .buy_clay_two {
    background-image: url("../img/buy_clay.svg") !important;
    padding: 45px 0 !important; } }
footer {
  padding: 42px 0; }
  footer h3 {
    font-size: 14px;
    color: black;
    margin-bottom: 30px; }
  footer .service {
    border-right: solid 1px black; }
    footer .service a {
      display: block;
      max-width: 130px;
      color: #64676d;
      text-decoration: none;
      font-size: 11px;
      margin-bottom: 15px;
      line-height: 13px; }
  footer .icon {
    border-right: solid 1px black; }
    footer .icon a {
      text-decoration: none;
      display: inline-block;
      margin-right: 30px;
      color: black;
      border: solid 1px black;
      padding: 6px 8px;
      line-height: 0;
      font-size: 28px; }
    footer .icon a:nth-last-child(3) {
      padding: 6px 11px; }
    footer .icon a:hover {
      background-color: black;
      color: white;
      transition: 0.3s; }
  footer form p {
    font-size: 14px;
    color: #64676d;
    margin-bottom: 10px; }
  footer form textarea {
    width: 100%;
    resize: none;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 0;
    outline: none;
    padding: 5px;
    color: #64676d;
    font-size: 11px; }
  footer form button {
    color: #64676d;
    background-color: white;
    padding: 10px 34px; }

/*# sourceMappingURL=style.css.map */
